terraform/sa-key.json
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
ansible/inventory.iniфterraform/sa-key.json
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
ansible/inventory.ini
terraform/crash.log
terraform/crash.*.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/terraform.tfvars
terraform/*.auto.tfvars
terraform/*.auto.tfvars.json
ansible/.ansible/
ansible/*.retry